/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/* ==========================================================================
   dbstyles.net Dariusz Buczynski
   ========================================================================== */

a,
h3 a {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    outline: none;
}
a:hover,
h3 a:hover {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    color: #eee;
}
a:focus,
h3 a:focus {
    outline: none;
}
h3 {
    font-size: 60px;
}
p {
    margin: 0.4em 0;
    text-align: left;
    font-size: 22px;
    line-height: 1.2;
    color: #fff;
}
body {
    background: #393939 url('../images/blueMain2.jpg') repeat;
    font-family: "Abel", verdana;
    font-size: 16px;
    color: white;
    line-height: 1.5em;
    color: #fff;
}
section {
    max-width: 854px;
    min-height: 300px;
    margin: 10px auto;
    position: relative;
    padding: 0 10px;
}
header img {
    max-width: 25%;
}
#services {
    position: absolute;
    width: 980px;
    max-width: 100%;
    margin: -130px 0 0 -365px;
    left: 40%;
    top: 65%;
}
#services ul.list {
    display: inline-block;
    list-style: none;
    margin: -9px 0px 0 0;
    padding: 0;
    color: #fff;
    font-size: 23px;
    font-weight: 400;
    text-align: right;
    line-height: 30px;
    width: 140px;
}
ul.contents li,
h2.contents {
    opacity: 0;
}
#services .contents {
    z-index: 15;
    position: relative;
    float: left;
}
#services span {
    display: block;
    font-family: 'Bad Script';
}
#services h2 {
    letter-spacing: 1px;
    display: inline-block;
    color: #fff;
    font-size: 122px;
    font-weight: normal;
    margin: 0;
    text-align: left;
    line-height: 135px;
    margin-top: 11px;
    opacity: 0;
    padding: 0 0 0 15px;
}
img {
    max-width: 100%;
    height: auto;
}
.not-mobile a.logo img {
    position: absolute;
    margin: 0;
    opacity: 0;
    z-index: 10;
    transform: rotate(90deg) scale(1.5);
    top: 40%;
    left: -120px;
}
header a,
article div p a {
    color: white;
    text-decoration: none;
}
header a:hover,
article div p a:hover {
    color: #eee;
}
div.box{
  opacity: 0;
}
.main.about a.about,
.main.projects a.projects {
    color: #888;
}
.contactNfo .photo {
    font-size: 22px;
    display: block;
}
.contactNfo {
    position: absolute;
    z-index: 3;
    opacity: 0;
    margin: 130px 10% 0 0;
    right: 0;
    top: 0;
}
.footer a.about {
    font-size: 12px;
    position: relative;
}
.footer a.projects {
    font-size: 12px;
    position: relative;
}
article h3 {
    margin: 0px;
    display: block;
    font-size: 35px;
    line-height: 1em;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
article h3 a {
    color: #fff;
    text-decoration: none;
    font-size: 35px;
}
.projects article h3 {
    padding: 45px 0 0 0;
}
img.mag {
    margin: 20px 0 0 0;
    position: relative;
    z-index: 2;
}
img.photos {
    position: absolute;
    top: 360px;
    right: 60px;
}
div.footer a {
    color: #fff;
    text-decoration: none;
}
a.inText {
    color: white;
    text-decoration: none;
}
.infobox h3 {
    font-size: 45px;
    margin: 1em 0 20px;
}
.infobox .signature{
    font-family: "bad script";
    color: white;
    font-size: 99px;
    font-weight: normal;
    padding: 40px 0 0 0;

}
.about {
    padding: 8%;
}
div.footer a:hover,
a.inText:hover {
    color: #eee;
}
.underL {
    text-decoration: underline;
}
.contactNfo a.email {
    clear: both;
    display: block;
}
hr {
    background: #333;
    border: none;
    height: 1px;
}
.pinSection {
    margin-top: -850px;
}
.parallaxParent {
    height: 100vh;
    overflow: hidden;
    opacity: 0;
}
.parallaxParent div {
    opacity: 1;
}
.parallaxParent > * {
    height: 200%;
    position: relative;
    top: -100%;
}
#picBgBW {
    display: none;
}
#pinContainer {
    width: 100%;
    height: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 50;
}
.not-mobile .panel {
    height: 100%;
    width: 100%;
    position: absolute;
    background: url(../images/picBgWorkBW.jpg) center center #222 no-repeat;
    box-shadow: inset 0px 0px 70px 0px #111;
}
.mobileInfo {
    position: fixed;
    width: 60%;
    background: #0fbf0a;
    z-index: 100;
    top: 18%;
    margin: 30% 20%;
    transform-origin: center top;
    z-index: -10;
    visibility: hidden;
    border-radius: 36px;
    box-shadow: 0px 0px 60px #000;
}
.mobileInfo div {
    padding: 7%;
    color: #000;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
}
.dim {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    background: #000;
}
/* ==========================================================================
   Mobile
   ========================================================================== */

body.is-mobile {
    background: #393939 url('../images/blackMain.jpg') repeat;
}
.is-mobile div.box{
    opacity: 1;
}
.is-mobile a.logo img {
    margin: 7% 0 0 7%;
    position: absolute;
    z-index: 10;
    max-width: 250px;
    display: block;
}
.is-mobile .contactNfo {
    opacity: 1;
    margin: 7% 7% 0 0;
}
.is-mobile .photo {
    display: none;
}
.is-mobile #picBg {
    display: none;
}
.is-mobile #picBgBW {
    display: block;
}
.is-mobile .bgBW {
    background-position: 25% -150px;
    background-image: url(../images/picBgBW.jpg);
    box-shadow: inset 0px 0px 70px 0px #111
}
.is-mobile .parallaxParent {
    opacity: 1;
}
.is-mobile .parallaxParent > * {
    height: 100%;
    position: relative;
    top: 0;
}
.is-mobile #pinContainer {
    height: auto;
}
.is-mobile .pinSection {
    margin-top: 100px;
}
.is-mobile #services {
    position: absolute;
    width: 600px;
    max-width: 100%;
    margin: -130px 0 0 -300px;
    left: 50%;
    top: 62%;
    z-index: 10;
}
.is-mobile #services h2 {
    letter-spacing: -12px;
    display: inline-block;
    color: #fff;
    font-size: 145px;
    font-weight: 200;
    margin: 0;
    text-align: left;
    line-height: 110px;
    margin-top: -7px;
    opacity: 1;
}
.is-mobile #services ul.list {
    display: inline-block;
    list-style: none;
    margin: -9px 0px 0 0;
    padding: 0;
    color: #fff;
    font-size: 23px;
    font-weight: 400;
    text-align: right;
    line-height: 25px;
    width: 130px;
}
.is-mobile ul.contents li,
.is-mobile h2.contents {
    opacity: 1;
}
.is-mobile .panel {
    box-shadow: inset 0px 0px 20px 0px #111;
}
@media only screen and (max-width: 650px),
screen and (max-height: 510px) {
    .is-mobile #services {
        position: absolute;
        width: 90%;
        max-width: 100%;
        margin: 0 5%;
        left: 0;
        top: 20%;
        z-index: 10;
    }
    .is-mobile #services ul.list {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 23px;
        font-weight: 400;
        text-align: right;
        line-height: 45px;
        width: 100%;
    }
    .is-mobile #services h2 {
        display: none;
    }
    .is-mobile ul.contents li,
    .is-mobile h2.contents {
        opacity: 1;
        float: left;
        width: 100%;
        margin: auto;
        font-size: 36px;
        text-align: center;
    }
    .infobox h3 {
        font-size: 35px;
        margin: 1em 0 8px;
        line-height: 30px;
    }
}
@media only screen and (max-height: 510px) {
    .is-mobile .contactNfo {
        margin: 2%;
    }
    .is-mobile a.logo img {
        margin: 2%;
    }
    .is-mobile #services {
        position: absolute;
        width: 100%;
        max-width: 100%;
        margin: -115px 0 0 0;
        left: 0;
        top: 50%;
        z-index: 10;
        height: 230px;
    }
    .is-mobile #services ul.list {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        text-align: right;
        line-height: 25px;
        width: 100%;
    }
    .is-mobile ul.contents li {
        opacity: 1;
        float: left;
        width: 100%;
        margin: auto;
        font-size: 24px;
        text-align: center;
    }
    p {
        font-size: 19px;
    }
}
@media only screen and (max-width: 450px),
screen and (max-height: 550px) {
    .is-mobile a.logo img {
        max-width: 150px;
    }
}
@media only screen and (max-width: 650px) {
    article h3 a,
    .projects article h3 {
        font-size: 23px;
    }
    p {
        font-size: 19px;
    }
}
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}
html {
    font-size: 1em;
    line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #064477;
    text-shadow: none;
    color: #fff;
}
::selection {
    background: #064477;
    text-shadow: none;
    color: #fff;
}
/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */

    *text-indent: -9999px;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */

    display: table;
    /* 2 */
}
.clearfix:after {
    clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}
@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster: h5bp.com/s */

        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
        /* h5bp.com/t */
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
