/*csstuff Dariusz Buczyński dbSTYLE.pl*/

/* -----------------------------------*/
/* ---------->>> APPEARENCE <<<-------*/
/* -----------------------------------*/

#mainNav { position: relative;  height: 181px; }
#wrapperBig { width: 1172px; background: url('../images/wrapBg.png') repeat-y; margin: 0 auto; }
#wrapperSmall { width: 1150px; padding: 0 0 0 11px;}

.bods { width: 100%; height: 100%; background: url('../images/mainBg.png') repeat; }
.menuTx {font-family: 'Abel', sans-serif; color:#dbdbda; font-size: 16px; text-align: center; letter-spacing: 1.4px; display: block; position: absolute; top: 62px; right: 22px; z-index: 10;  }

#navIndeed,#navBottom {  font-family: 'Abel', sans-serif; display: block; position: absolute;font-size: 16px; color:#393939; z-index: 10; letter-spacing: 1.4px; font-weight: bold; }
#navIndeed{ top:88px; right: 10px; }
#navIndeed a{ position: relative; display:block; background: url("../images/sprites.png") no-repeat scroll top left; float: left; }
#navIndeed a span{ position: absolute; display: block; top:0;left:0;height:100%;width:100%;z-index:100; background: url("../images/sprites.png") no-repeat scroll bottom left;}
#navIndeed a,
#navIndeed a:link,
#navIndeed a:visited { color:#393939; padding: 1px 13px 0px 28px; }
#navIndeed a:hover { color:#393939;}
#navIndeed .last,#navBottom .last {padding-right: 0px;}
#navIndeed a span:hover { cursor:pointer;}
#navIndeed a span {background-position:0px -25px;}

#navBottom { top:118px; right: 15px; font-size: 14px; }
#navBottom a { padding: 0 8px; transition:color 0.25s ease-in-out 0s;-moz-transition:color 0.25s ease-in-out 0s;-webkit-transition:color 0.25s ease-in-out 0s;-o-transition:color 0.25s ease-in-out 0s;}
#navBottom a:link,
#navBottom a:visited{ color:#393939;  }
#navBottom a:hover { color:#10b9c9; transition:color 0.25s ease-in-out 0s;-moz-transition:color 0.25s ease-in-out 0s;-webkit-transition:color 0.25s ease-in-out 0s;-o-transition:color 0.25s ease-in-out 0s;}

.wedding #navIndeed a.wedding { color:#0fadbc; background: url("../images/sprites.png") no-repeat scroll bottom left;}
.kontakt #navIndeed a.kontakt { color:#0fadbc; background: url("../images/sprites.png") no-repeat scroll bottom left;}

.sesja #navBottom a.sesja { color:#0fadbc; }
.ceremonia #navBottom a.ceremonia { color:#0fadbc; }
.wesele #navBottom a.wesele { color:#0fadbc; }

#logo { position: absolute; top: 0px; left: -36px; z-index: 5; }
#logoDesc { position: absolute; top: 0px; left: 432px; z-index: 5;}
#playerPart { height: 870px;  background: url('../images/floral.png') no-repeat;}
#gallery { }
#copyright { text-align: center; padding:0 0 30px; }

.sesja.on #navIndeed .wedd span,.ceremonia.on #navIndeed .wedd span,.home #navIndeed .home span  { opacity: 1 !important;}