/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html{}

@font-face {
  font-family: 'sitefont';
  src: url('iefont4.eot');
  src: local('?'),
  url("bank_gothic_medium_bt.woff") format("woff"),
  url("bank_gothic_medium_bt.otf") format("opentype"),
  url("bank_gothic_medium_bt.svg#grablau") format("svg");
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
}

body {
  font-size: 1em;
  line-height: 1.4;
  font-family: "sitefont", verdana;
  width:100%;
  height:100%;
  position:absolute;


}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.mainCont { width:100%;  height:inherit; background: url('../img/bg6.jpg') 50% 50% repeat #aaa; position: relative;  }

.pos{ width:2px; height:2px; background:transparent; position: absolute;}
.TLpos.pos { left:0%;top:0%;margin:150px 0 0 0px;}
.TRpos.pos { right:0%;top:0%; margin:150px 700px 0 0;}
.BRpos.pos { right:0%;bottom:0%;margin:0 700px 310px 0;}
.BLpos.pos { left:0%;bottom:0%;margin:0 0 310px 0px;}

.beepingDotSize,.beepingDot  { width:38px; height:38px; z-index:11; position:absolute; top: 50%; left:50%; margin:-19px 0 0 -18px; background:white; }

.beepingDotSize.b1, .tx1{ margin:-66px 0 0 -64px; }
.beepingDotSize.b2, .tx2{ margin:-66px 0 0 26px; }
.beepingDotSize.b3, .tx3{ margin:23px 0 0 26px; }
.beepingDotSize.b4, .tx4{ margin:23px 0 0 -64px; }

a.beepingDotSize span { display:block; visibility: hidden; opacity: 0; /*transition:visibility 0s linear 0.5s,opacity 0.5s linear;*/ text-transform: uppercase; }
a.beepingDotSize.b1 span{margin:-20px 0 0 -189px; }
a.beepingDotSize.b2 span{margin:-20px 0 0 -4px; }
a.beepingDotSize.b3 span{margin:-20px 0 0 -3px; }
a.beepingDotSize.b4 span{margin:-20px 0 0 -241px; }

a.beepingDotSize.b1.en span{margin:-20px 0 0 -292px; }
a.beepingDotSize.b4.en span{margin:-20px 0 0 -219px; }

@media screen and (-webkit-min-device-pixel-ratio:0) {
  a.beepingDotSize.b4 span{margin:-20px 0 0 -248px; }
}

a.beepingDotSize:hover { background:transparent; }
a.beepingDotSize:hover span {/* visibility: visible;opacity:1;*/ }

.beepingDotSize.txField { font-size:17px; color:#aaa; overflow:hidden;background: white; height:0;width:0;  padding: 0px; cursor:default;  /*visibility: hidden;*/margin:0;}
.txField.tx1 { top:auto; bottom:0; left: auto; right: 0;  margin-right:0; }
.txField.tx2 { top:auto; bottom:0; left: 0; right: auto; margin-left:0; }
.txField.tx3 { top:0; bottom:auto; left: 0; right: auto;  margin-top:0; }
.txField.tx4 { top:0; bottom:auto; left: auto; right: 0;  margin-top:0; }

.menuMaker { font-size:53px;  color:white; position:absolute; top: 50%; left:50%; width:700px; height:150px; margin:-72px 0 0 -350px; z-index:10;  display:block; visibility: hidden; opacity: 0;}
.menuCont { postition:relative; top:0px; left:0px; height:137px; display:block; }

.logoMaker { font-size:53px; color:white; position:absolute; top: 50%; left:50%; width:140px; height:150px; margin:-72px 0 0 -70px; z-index:10;}
.logoCont { postition:relative; top:0px; left:0px; height:30px; }
.logoCont .logEl { position:absolute; top: 29px; left:46px;}

.langs { width:200px; height:160px;position:absolute; bottom:30px; right:0; font-size:53px; color:white; display:block; visibility: hidden; opacity: 0; }
.langsCont { position:relative; }
.langsCont div{ position:absolute; width: 85px; height:40px; }
.langsCont div a { position:relative;  }
.langsCont div a span{ display:block; position:absolute; width:40px;height:40px;line-height: 40px; }
div.lan1 { top:108px; left:0px; }
div.lan2 { top:108px; left:-390px;}
div.lan3 { top:108px; left:-287px;}
div.lan4 { top:108px; left:-89px;}
div.lan5 { top:108px; left:-186px;}
div.lan6 { top:108px; left:91px;}

.langsCont div.lan1 a{ background-position: -38px -30px;  }
.langsCont div.lan2 a{ background-position: -38px -80px; }
.langsCont div.lan3 a{ background-position: -38px -131px; }
.langsCont div.lan4 a{ background-position: -144px -30px; }
.langsCont div.lan5 a{ background-position: -144px -80px; }
.langsCont div.lan6 a{ background-position: -144px -131px;}

.langsCont div.lan1 a span{ background-position: -38px -223px;}
.langsCont div.lan2 a span{ background-position: -38px -273px; }
.langsCont div.lan3 a span{ background-position: -38px -324px; }
.langsCont div.lan4 a span{ background-position: -144px -223px; }
.langsCont div.lan5 a span{ background-position: -144px -273px; }
.langsCont div.lan6 a span{ background-position: -144px -324px;}

.langsCont div a {display: inline-block;position: relative;text-indent: -9999px;width: 85px;height: 40px;background: url('../img/langs.png') -38px -30px ;}
.langsCont div a span {position: absolute;width: 85px;display:block;height:40px;top: 0; left: 0; bottom: 0; right: 0;background: url('../img/langs.png') -38px -30px ;background-position: -38px -223px;}


.lang { position:absolute; width:40px;height:40px;line-height: 40px; display:block; }

.lang span{ top:0px; left:48px; }


#accordion{ display:none; float:left; clear:both;}
#accordion a, #accordion a:hover, #accordion a:link, #accordion a:visited {text-decoration: none;}
#accordion h3{ text-transform: uppercase; }
.ui-helper-reset {border: 0 none;font-size: 100%;line-height: 1.3;list-style: none outside none;margin: 0;outline: 0 none;padding: 0;text-decoration: none;}
.ui-widget { font-size: 1.1em;}
.ui-accordion .ui-accordion-header {cursor: pointer;display: block;margin-top: 2px;min-height: 0;padding: 0.5em 0.5em 0.5em 0.7em;position: relative;}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {border-top-right-radius: 4px;}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {border-top-left-radius: 4px;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {border: 1px solid #AAAAAA;font-weight: normal;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {border: 1px solid #D3D3D3;font-weight: normal;}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {left: 0.5em;margin-top: -8px;position: absolute;top: 50%;}
.ui-accordion .ui-accordion-content {border-top: 0 none;overflow: auto;padding: 0.5em 0.5em 0.5em 0.7em;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {border-bottom-right-radius: 4px;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {border-bottom-left-radius: 4px;}
.ui-widget-content {border: 1px solid #AAAAAA;}
.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus {border: 1px solid #999999;font-weight: normal;}
.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active {border: 1px solid #aaaaaa;font-weight: normal;}
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default {border: 1px solid #d3d3d3;background: #e6e6e6;font-weight: normal;}
.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus {border: 1px solid #999999;background: #dadada;font-weight: normal;}
.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active {border: 1px solid #aaaaaa;background: #ffffff;font-weight: normal;}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */



@media(max-width: 1000px) {
      body{ background: none; position:relative; }
      html { background: repeat scroll 50% 50% #bbb; }
      .menuMaker { display:none !important; position: absolute; }
      .beepingDot { height:20px; width:21px; top:2%; left:2%; margin: 61px 0 0 22px; position: absolute; }
      #accordion{ display:block; margin: -30px 0 0 0; color: #787878; background:white; padding: 2%; width:96%; }
      .logoMaker { position:inherit; transform:scale(0.5);-webkit-transform:scale(0.5); -ms-transform:scale(0.5); margin:-33px 0 0 -39px !important; top: 2%; left:2%;}
      .langs { transform:scale(0.5);-webkit-transform:scale(0.5); -ms-transform:scale(0.5);  margin:0 -49px -30px 0 !important; bottom:1px;}
      .pos { display:none; }
      .clearDat { float:left; clear:both; width:100%; height:1px;  }
      footer { float:left; clear:both; width:100%; height:91px; position:relative; }
      .mainCont { background: none; }
      .lang span { opacity: 1; }
      .lang.lan1 { left:-40px;}
      .lang.lan2 { left:-40px;}
      .lang.lan3 { left:-40px;}
  @font-face {
    font-family: "Graublau Web";
    src: url("GraublauWeb.woff") format("woff"),
    url("GraublauWeb.otf") format("opentype"),
    url("GraublauWeb.svg#grablau") format("svg");
  }
}

@media (max-width: 1000px) and (-webkit-min-device-pixel-ratio:0) {
  .logoMaker { margin:-52px 0 12px -39px !important; }
}


@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
